<ion-header>
    <ion-navbar color="primary">
        <ion-title>To do list</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <img src="../../assets/imgs/pendientes.jpg" alt="">

    <ion-list>
        <button ion-item *ngFor="let list of wishesService.lists" (click)="listSelected(list)">
          {{ list.title }}
        </button>
    </ion-list>

    <!-- Real floating action button, fixed. It will not scroll with the content -->
    <ion-fab bottom right>
        <button (click)="addList()" ion-fab>
            <ion-icon name="add"></ion-icon>
        </button>

    </ion-fab>

</ion-content>