<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ list.title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Things to do</ion-list-header>
        <ion-item>
            <ion-label floating>New item {{itemName}}</ion-label>
            <ion-input [(ngModel)]='itemName' (keyup.enter)='addItem()' type="text"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list *ngIf='list.items.length > 0'>
        <ion-list-header>
            Things to do
        </ion-list-header>
        <ion-item-sliding *ngFor='let item of list.items; let i = index' class='animated fadeInDown'>
            <button ion-item detail-none (click)='updateTask(item)'>
                <ion-icon *ngIf='!item.finished' name="square-outline"></ion-icon>
                <ion-icon *ngIf='item.finished' name="checkbox-outline"></ion-icon>
                {{item.desc}}
            </button>

            <ion-item-options side="right">
                <button ion-button color="danger" icon-only (click)='delteItem(i)'>
                  <ion-icon name="close"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
</ion-content>